<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <link rel="stylesheet" href="../index.scss">
    <link rel="stylesheet" href="../main.css">
    <link href="https://unpkg.com/tailwindcss@0.3.0/dist/tailwind.min.css" rel="stylesheet">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.0.0/css/all.min.css" />
    <link rel="stylesheet" href="https://fonts.googleapis.com/css2?family=Inter:wght@300;400;500;600;700&display=swap" />
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/tw-elements/dist/css/index.min.css" />
    <script src="https://cdn.tailwindcss.com"></script>
    <script>
      tailwind.config = {
        theme: {
          extend: {
            fontFamily: {
              sans: ['Inter', 'sans-serif'],
            },
          }
        }
      }
</script>
</head>
<body>
    
    <div class="h-100 w-full flex items-center justify-center bg-teal-lightest font-sans">

        <!-- List ToDo -->
        <div class="bg-white rounded shadow p-6 m-4 w-1\/2 lg:w-1/2  w-full">
            <div class="mb-4">
                <div class="flex justify-between flex-col">
                    <h1 class="text-center text-grey-darkest text-4xl">Todo List</h1>
                    <div class="flex justify-center">
                        <div class="w-full mt-8 xl:w-96">
                          <div class="input-group relative flex flex-no-wrap items-stretch mb-4 rounded">
                            <input id = "search" type="search" class="form-control relative flex-auto sm:w-1 block px-3 py-1.5 text-base font-normal text-gray-700 bg-white bg-clip-padding border border-solid border-gray-300 rounded transition ease-in-out m-0 focus:text-gray-700 focus:bg-white focus:border-blue-600 focus:outline-none" placeholder="Search" aria-label="Search" aria-describedby="button-addon2">
                            <span class="input-group-text flex items-center px-3 py-1.5 text-base font-normal text-gray-700 text-center whitespace-nowrap rounded" id="basic-addon2">
                              <svg aria-hidden="true" focusable="false" data-prefix="fas" data-icon="search" class="w-4" role="img" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 512 512">
                                <path fill="currentColor" d="M505 442.7L405.3 343c-4.5-4.5-10.6-7-17-7H372c27.6-35.3 44-79.7 44-128C416 93.1 322.9 0 208 0S0 93.1 0 208s93.1 208 208 208c48.3 0 92.7-16.4 128-44v16.3c0 6.4 2.5 12.5 7 17l99.7 99.7c9.4 9.4 24.6 9.4 33.9 0l28.3-28.3c9.4-9.4 9.4-24.6.1-34zM208 336c-70.7 0-128-57.2-128-128 0-70.7 57.2-128 128-128 70.7 0 128 57.2 128 128 0 70.7-57.2 128-128 128z"></path>
                              </svg>
                            </span>
                          </div>
                        </div>
                      </div>
                </div>
                <div class="flex items-center justify-center">
                  <div class=" w-full flex justify-between relative form-floating mb-3 xl:w-96">
                    <input id="TextAdd" class="shadow flex-grow appearance-none border rounded py-2 px-3 mr-4 text-grey-darker" placeholder="Add Todo">
                    <button id="btnAdd" class="flex-no-shrink p-2 border-2 rounded text-teal border-teal hover:text-white hover:bg-teal">Add</button>
                  </div>
                  </div>
                <div class="flex items-center justify-center">
                  <div class="datepicker w-full relative form-floating mb-3 xl:w-96">
                    <input id = "date" type="text"
                      class="form-control block w-full px-3 py-1.5 text-base font-normal text-gray-700 bg-white bg-clip-padding border border-solid border-gray-300 rounded transition ease-in-out m-0 focus:text-gray-700 focus:bg-white focus:border-blue-600 focus:outline-none"
                      placeholder="Select a date" />
                    <label for="floatingInput" class="text-gray-700">Select a date</label>
                  </div>
                </div>
            </div>
            <div id="listTodos">
            </div>
            <div class="flex flex-col justify-center align-middle2">
                <h4 class="m-2 pb-2 border-b-2">Filter Tasks</h4>
                <div class="flex flex-row justify-around mt-2">
                    <div class="form-check m-2 w-1\/4 form-switch">
                        <input onclick="AllTasks()" name="filter" class="form-check-input w-9 -ml-10 rounded-full float-left h-5 align-top bg-gray bg-no-repeat bg-contain bg-gray-300 focus:outline-none cursor-pointer shadow-sm" type="radio" role="switch" id="flexSwitchCheckChecked1" name="filter" checked>
                        <label class="form-check-label text-sm inline-block text-blue-darker" for="flexSwitchCheckChecked1">All Tasks</label>
                    </div>
                    <div class="form-check m-2 w-1\/4 form-switch">
                        <input onclick="DoneTasks()" name="filter" class="form-check-input w-9 -ml-10 rounded-full float-left h-5 align-top bg-gray bg-no-repeat bg-contain bg-gray-300 focus:outline-none accent-green-500 cursor-pointer shadow-sm" type="radio" role="switch" id="flexSwitchCheckChecked2" name="filter" checked>
                        <label class="form-check-label inline-block text-sm text-blue-darker" for="flexSwitchCheckChecked2">Done Tasks</label>
                    </div>
                    <div class="form-check m-2 w-1\/4 form-switch">
                        <input onclick="NotDoneTasks()" name="filter" class="form-check-input w-9 -ml-10 rounded-full float-left h-5 align-top bg-gray bg-no-repeat bg-contain bg-gray-300 focus:outline-none accent-gray-500 cursor-pointer shadow-sm" type="radio" role="switch" id="flexSwitchCheckChecked3" name="filter" checked>
                        <label class="form-check-label inline-block text-blue-darker text-sm" for="flexSwitchCheckChecked3">Not Done Tasks</label>
                    </div>
                </div>
            </div>
            
        </div>

        <!-- filter ToDo List -->
        
    </div>

    <div class="flex flex-col">
        <div class="overflow-x-auto sm:-mx-6 lg:-mx-8">
          <div class="py-2 inline-block min-w-full sm:px-6 lg:px-8">
            <div class="overflow-hidden">
              <table class="min-w-full text-center">
                <thead class="border-b">
                  <tr>
                    <th scope="col" class="text-sm font-medium text-gray-900 px-6 py-4">
                      Time
                    </th>
                    <th scope="col" class="text-sm font-medium text-gray-900 px-6 py-4">
                      All
                    </th>
                    <th scope="col" class="text-sm font-medium text-gray-900 px-6 py-4">
                      Done
                    </th>
                    <th scope="col" class="text-sm font-medium text-gray-900 px-6 py-4">
                        NotDone
                      </th>
                    <th scope="col" class="text-sm font-medium text-gray-900 px-6 py-4">
                        <button onclick="updateTable(0)" type="button" class="inline-block px-6 py-2.5 bg-green-600 text-white font-medium text-xs leading-tight uppercase rounded shadow-md hover:bg-green-500 hover:shadow-lg focus:bg-green-700 focus:shadow-lg focus:outline-none focus:ring-0 active:bg-green-800 active:shadow-lg transition duration-150 ease-in-out">Update All</button>
                        <button onclick="DeletTable()" type="button" class="inline-block px-6 py-2.5 bg-red-600 text-white font-medium text-xs leading-tight uppercase rounded shadow-md hover:bg-red-500 hover:shadow-lg focus:bg-red-700 focus:shadow-lg focus:outline-none focus:ring-0 active:bg-red-800 active:shadow-lg transition duration-150 ease-in-out">Clear All</button>
                      </th>
                  </tr>
                </thead>
                <tbody id="tbody">
                  <tr class="border-b">
                    <td class="text-sm text-gray-900 font-medium px-6 py-4 whitespace-nowrap">
                    </td>
                    <td class="text-sm text-gray-900 font-light px-6 py-4 whitespace-nowrap">
                      
                    </td>
                    <td class="text-sm text-gray-900 font-light px-6 py-4 whitespace-nowrap">
                      
                    </td>
                    <td class="text-sm text-gray-900 font-light px-6 py-4 whitespace-nowrap">
                      
                    </td>
                    <td class="text-sm text-gray-900 font-light px-6 py-4 whitespace-nowrap">
                    </td>
                  </tr>
                </tbody>
              </table>
            </div>
          </div>
        </div>
      </div>
    <script src="../App.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/tw-elements/dist/js/index.min.js"></script>
</body>
</html>